table {
  margin: 2rem auto;
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  width: 80%;
  max-width: 100%;
  text-align: left;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

th {
  font-weight: bold;
  border: 1px solid #cccccc;
  padding: 8px;
}

td {
  border: 1px solid #cccccc;
  padding: 10px;
}

/* Styles */
tr th {
  background-color: #7dd3fc;
}

/* Center text in "Actions" column */
table thead tr th:last-child,
table tbody tr td:last-child {
  text-align: center;
}

/* Hover effects for rows */
tr {
  background-color: #f0f9ff;
  transition: background-color 100ms ease-in-out 0s;
}

tr.bug-expired {
  background-color: #fca5a5;
}

tbody tr:hover {
  filter: brightness(0.9);
}
